{% extends 'base.html' %}


{% block content %}
    {% block title %}<h1>Images</h1>{% endblock %}
    {% if user.is_authenticated %}
        <table class="table">
            <thead>
                <tr>
                    <th>Image link</th>
                    <th>Image text content</th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                    {% if user == image.owner %}
                    <tr>
                        <td>
                            <img src="{{ image.image.url }}" alt="Image" width="400" height="400"/>
                        </td>
                        <td>
                            {{ image.text }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>

        </table>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In<br/></a>
        <a href="{% url 'signup' %}">Register</a>
    {% endif %}
{% endblock %}
