{% extends 'base.html' %}


{% block content %}
    {% block title %}Images{% endblock %}
    <p>
    <a href="{% url 'uploadPdf' %}" class="btn btn-primary">Upload Images</a>
    </p>
    {% if user.is_authenticated %}
        <table class="table">
            <thead>
                <tr>
                    <th>Image link</th>
                    <th>Image text content</th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                    {% if user == image.owner %}
                    <tr>
                        <td>
                            <a href="{{ image.image }}" target="_blank">{{ image.image }}</a>
                        </td>
                        <td>
                            {{ image.text }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>

        </table>
        <p><a href="{% url 'home' %}">Return to home</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In<br/></a>
        <a href="{% url 'signup' %}">Register</a>
    {% endif %}
{% endblock %}
