{% extends 'base.html' %}


{% block content %}
    {% block title %}PDFs{% endblock %}
    <p>
    <a href="{% url 'uploadPdf' %}" class="btn btn-primary">Upload PDF</a>
    </p>
    {% if user.is_authenticated %}
        <table class="table">
            <thead>
                <tr>
                    <th>PDF link</th>
                    <th>PDF text content</th>
                </tr>
            </thead>
            <tbody>
                {% for pdf in pdfs %}
                    {% if user == pdf.owner %}
                        <tr>
                            <td>
                                <a href="{{ pdf.file }}" target="_blank">{{ pdf.file }}</a>
                            </td>
                            <td>
                                {{ pdf.text }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>

        </table>
        <p><a href="{% url 'home' %}">Return to home</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In<br/></a>
        <a href="{% url 'signup' %}">Register</a>
    {% endif %}
{% endblock %}
