{% extends 'base.html' %}


{% block content %}
    {% block title %}<h2>PDFs</h2>{% endblock %}
    {% if user.is_authenticated %}
        <table class="table">
            <thead>
                <tr>
                    <th>PDF link</th>
                    <th>PDF text content</th>
                </tr>
            </thead>
            <tbody>
                {% for pdf in pdfs %}
                    {% if user == pdf.owner %}
                        <tr>
                            <td>
                                <a href="{{ pdf.file.url }}" target="_blank">{{ pdf.file.url }}</a>
                            </td>
                            <td>
                                {{ pdf.text }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>

        </table>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In<br/></a>
        <a href="{% url 'signup' %}">Register</a>
    {% endif %}
{% endblock %}
