{% extends 'base.html' %}

{% block content %}
    {% block title %}<h1>Home</h1>{% endblock %}
    {% if user.is_authenticated %}
        <h2 class="card-title">Hi {{ user.username }}!</h2>
        <p>Welcome to a simple PDF and Image upload and text extraction tutorial</p>
        <p>I have used PostgreSQL to store the documents and the extracted text</p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In<br/></a>
        <a href="{% url 'signup' %}">Register</a>
    {% endif %}
{% endblock %}
