{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    <p><a href="{% url 'uploadPdf' %}">Upload PDF</a></p>
    <p><a href="{% url 'pdfs_list' %}">Show uploaded PDF</a></p>
    <p><a href="{% url 'uploadJPG' %} ">Upload Image</a></p>
    <p><a href="{% url 'jpgs_list' %} ">Show uploaded Images</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In<br/></a>
    <a href="{% url 'signup' %}">Register</a>
{% endif %}
{% endblock %}